//
   Created by Tim on 2/24/2016.

doctype !!!

html
   head
      title= "SLIDES"
      script(src="/assets/scripts/libs/jquery/jquery.min.js")
      script(src="/slides.js")
      script(src="/socket.io/socket.io.js")
      link(rel="stylesheet" href="/styles.css")
   body(class="two")
      div(id="slider")
         div(class='slide' style="display: none")
            h2 screen 2
               br
               small 5 secs
               br
            h1(style="color: green;") this
         div(class='slide key-art' style="display: none")
            h1 2
         div(class='slide' style="display: none")
            h2 slide three
               br
            h1 VIDEO
         div(class='slide' style="display: none")
            iframe(src="https://demo.geckoboard.com/dashboards/03CF7FF63ED2B885")
